<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>ALX Mall</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />
    
  <script type= "text/javascript"> 
        var user = '{{request.user}}'

      function getToken(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
                }
             }

        }
        
        return cookieValue;
      }

    var csrftoken = getToken('csrftoken');

    function getCookie(name){
      var cookieArr = document.cookie.split(";");
      for(var i = 0; i < cookieArr.length; i++){
        var cookiepair = cookieArr[i].split("=");

        if(name == cookiepair[0].trim()){
          return decodeURIComponent(cookiepair[1]);
        }
      }
      return null;
    }
    var carts = JSON.parse(getCookie('carts'))
    if (carts == undefined){
      carts = {}
      console.log('cart created', carts)
      document.cookie = 'carts=' + JSON.stringify(carts) +";domain=;path="

    }
    console.log('carts:', carts)

    
    </script>

  </head>

  <body style="padding: 0px; margin: 0px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
      <a class="navbar-brand" href="{% url 'storage' %}"> Alx-Mall</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'storage' %}"
              >Store <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <a href="#" class="btn btn-warning btn rounded-sm">Login</a>

          <a href="{% url 'carts' %}">
            <img id="cart-icon" src="{% static 'images/img1.png' %}" />
          </a>
          <p id="cart-total">{{cartItems}}</p>
        </div>
      </div>
    </nav>
    <br />
    <div class="container">{% block content %} {% endblock content %}</div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    
  <div style="padding-top: 50px; padding-bottom: 0px">
  <footer class="text-center text-white" style="background-color: #ab8c5e!important;">
    <div class="container-fluid p-5 pb-1"style="padding-top: 50px; padding-bottom: 0px; padding-right: 50px;" >
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">This is our ALx final foundation stage portfolio project.</span>
        </p>
        <div>
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3" style="flex:column">Contact US.</span>
          <a href= >
            <img id="cart-icon" src="{% static 'images/email.png' %}" />
          
          mikehailu7@gmail.com</a>
          <a href= >
            <img id="cart-icon" src="{% static 'images/phone.jpg' %}" />
          
          +251933404415</a>

           <a href="{% url 'storage' %}">
            <img id="cart-icon" src="{% static 'images/home.png' %}" /> Return Home
          </a>
        </p>



      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" >Authors: Mikias Hailu and Yared Tsgie</a>
    </div>
  </footer>
</div>
  </body>



</html>
